*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Bhaina 2', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul img{
    width: 20px;
    height: 20px;
}
a{
    text-decoration: none;
    color: #555;
    font-size: 20px;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col2{
    flex-basis: 50%;
    min-width: 300px;
}
.col2 img{
    width: 80%;
    height: 80%px;
}
.col2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 250px;
}

@media screen and (max-width: 720px) {
    .row{
    display: block;
    }
    .row h1{
        font-size: 40px;
    }
    
}

 /* ----------featur-product---------- */
.featur-product{
    margin: 70px 0;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}


/* -------- Product Section ---------- */
.products{
    width: 80%;
    margin: auto;
    /* align-items: center; */
}
.title{
    margin: 100px 0;
    letter-spacing: 1.5px;
    text-align: center;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -88%;
    left: 50%;    
    transform: translateX(-50%);
}
.product-list{
    display: flex;   
    flex-wrap: wrap;
    cursor: pointer;
}
.product-list .items{
    /* padding: 0 20px; */
    /* flex-wrap: wrap;
    padding: 0 20px; */
    flex: 2 0 21%; /* flex grow , flex shrink, flex-basis  */
}
.product-list img{
    width: 250px;
    height: 330px;
    transition: 0.5s;
}
.items img:hover{
    transform: translateY(-6px);
}
.items h3{
    text-align: center;
}
.items .h3-color{
    color: red;
}
@media screen and (max-width:720px) {
    .title::after{
        bottom: -257%;
    }
    
}

/* ----------- Offer Section --------- */
.row{
    width: 80%;
    flex-basis: 40%;
    margin: 50px auto;
}
.image img{
    width: 300px;
}
.small-offer-container{
    width: 80%;
    margin: auto;
}
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin: 50px 0;
    height: 100%;
    min-height: 60vh;
}
.offer-text{
    margin-top: 100px;
}
.offer-text p{
    font-size: 13px;
}
.offer-text a{
    padding: 10px;
}
.offer-text span{
    font-size: 40px;
    font-weight: 600;
    color: black;
    line-height: 100px;
}
@media screen and (max-width: 720px) {
    .offer-text img{
        width: auto;
        height: auto;
    }
    .offer-text p{
        padding: 10px auto;
        font-size: 15px;
    }
    .offer-text span{
        font-size: 30px;
        padding: 5px auto;
        margin: auto;
    }
    
}

/* ------------ Testinomials ---------- */

.row-testinomail{
    display: flex;
    flex-basis: 33%;
}
.testinomials{
    width: 80%;
    margin: auto;
}
.row-testinomail{
    width: 80%;
    margin: auto;
}
.col{
    box-sizing: border-box;
    border-radius: 10px;
    background: #fff3f3;
    margin: 20px;
    box-shadow: 5px 10px 5px 5px grey; 
    transition: 0.5s;
    flex-basis: 33%;
}
.col:hover{
    transform: translateY(-5%);
}
.col .user{
    width: 50px;
    height: auto;
    position: relative;
    left: 40%;
    border-radius: 50%;
}
.col p{
    text-align: left;
    padding: 0 30px;
}
.col h3{
    text-align: center;
}
.quote{
    width: 30px;
    height: auto;
    position: relative;
    left: 40%;
}
.h3-color{
    color: red;
}
@media screen and (max-width: 720px) {
    .row-testinomail{
        display: block;
        margin-bottom: 50px;
        width: 100%;
    }
    .col{
        min-width: 100%;
        margin-bottom: 50px;
    }
    
}

/* ------------- Brand ----------------- */
.brand .row{
    width: 70%;
    cursor: pointer;
}
.brand-logo:hover{
    transform: scale(1.5,1.5);
}
@media screen and (max-width: 720px) {
    .brand-logo img{
        width: 80px;
        height: auto;
    }
    
}

/* ------------- Footer ------------ */
.main-container{
    background: black;
    height: 100%;
}
.foot-container{
    width: 80%;
    margin: auto;
    display: flex;
}
.foot-col{
    flex-basis: 33%;
    margin: 40px auto;
}
.foot-col img{
    width: 40%;
    height: auto;
}
.foot-col .store{
    width: 40%;
    height: auto;
}
.foot-col p{
    font-size: 10px;
    color: #555;
    margin: 10px auto;
}
.foot-col h3{
    color: #fff3f3;
    margin-bottom: 10px;
}
.foot-col h4{
    color: #555;
    margin: 5px auto;
}
@media screen and (max-width: 720px) {
    .foot-container{
        display: block;
    }
    .foot-col{
        display: block;
    }
    .foot-col p,h3,h4{
        text-align: center;
    }
    .foot-col img{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 0 30%;
        min-height: 50px;
    }
    .foot-col .store{        
        margin-left: 50px;
    }
    /* -------------- Menu Bar ---------- */
    nav{
        display: none;
    }
}



